.carousel{
	width: 100%;
	height: 480upx;
}
.item-block{
	margin-top: 20upx;
	padding: 20upx;;
}

.item-wrap{
	display: flex;
	flex-direction: row;
}

.item-icon{
	width: 40upx;
	height: 40upx;
	margin-top: 5upx;
}
.item-title{
	margin-left: 10upx;
	font-size: 20px;
	font-weight: bold;
}

/*热门超英 start*/
.scroll-view{
	width: 100%;
	white-space: nowrap;
}
.poster{
	display: inline-block;
	margin-left:20upx ;
}
.movie-wrap{
	display: flex;
	flex-direction: column;
}
.movie-img{
	width: 200upx;
	height: 270upx;
}
.movie-name{
	width: 200upx;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10upx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}


/*热门超英 end*/


/*热门预告 start*/
.hot-movie-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0upx 20upx 20upx 20upx;
}
.hot-movie{
	width: 350upx;
	height: 220upx;
	margin-top: 10upx;
}


/*热门预告 end*/