<template>
	<view class="page">
		<!--轮播图 start -->
		<swiper :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000">
			<swiper-item v-for="carousel in carouselList" >
				<image :src="carousel.imageUrl" class="carousel"></image>
			</swiper-item>
		</swiper>
		<!--轮播图 end -->
		
		
		<!--热门超英 start -->
		<view class="page-block item-block">
			<view class="item-wrap">
				<image src="../../static/icon-fire.png" class="item-icon"/>
				<view class="item-title">热门超英</view>
			</view>
		</view>
		<scroll-view class="page-block scroll-view" scroll-x="true">
				<view  class="poster" v-for="hotMovie in hotMovieList">
					<view class="movie-wrap">
						<image :src="hotMovie.imageUrl" class="movie-img"></image>
						<view class="movie-name">{{hotMovie.name}}</view>
						<film-score :innerScore="hotMovie.score"></film-score>
					</view>
				</view>
				
				
		 </scroll-view>
		<!--热门超英 end -->
		
		<!--热门预告 start -->
		<view class="page-block item-block">
			<view class="item-wrap">
				<image src="../../static/icon-mv.png" class="item-icon"/>
				<view class="item-title">热门预告</view>
			</view>
		</view>
		<view class="page-block hot-movie-wrap">
			<video v-for="hotMovie in hotMovieList" 
			 :src="hotMovie.video"
			 :poster="hotMovie.imageUrl" controls
			 class="hot-movie"></video>
		</view>
		
		<!--热门预告 end -->
	</view>
</template>

<script>
	import filmScore from "../../components/filmScore.vue";
	export default {
		data() {
			return {
				title: 'Hello',
				carouselList: [],
				hotMovieList: []
			}
		},
		onLoad() {
			//首页轮播
			var me = this;
			var serverUrl = me.serverUrl;
			uni.request({
			    url: serverUrl + '/api/account/rest/movie/queryForList', 
			    method: 'GET',
			    success: (res) => {
			        console.log(res.data);
					me.carouselList = res.data.data;
			    }
			});
			//热门超英
			uni.request({
			    url: serverUrl + '/api/account/rest/movie/queryForHot', 
			    method: 'GET',
			    success: (res) => {
			        console.log(res.data);
					me.hotMovieList = res.data.data;
			    }
			});
			

		},
		methods: {

		},
		components:{
			filmScore
		}
	}
</script>

<style>
	@import url("index.css");
</style>
