<template name="filmScore">
	<view class="score-wrap">
		<image v-for="number in yellowNumber"
		src="../static/yellow-star.png" class="score-star"></image>
		<image v-for="number in grayNumber"
		 src="../static/gray-star.png" class="score-star"></image>
		<view class="score-value">{{innerScore}}</view>
	</view>
</template>

<script>
	export default {
		name: "filmScore",
		data() {
			return {
				yellowNumber:0,
				grayNumber:0
			};
		},
		props:{
			innerScore:0,
			showNumber:0
		},
		created() {
		  var temp = 0;
		  if(this.innerScore != null && this.innerScore != undefined){
			 temp = this.innerScore; 
		  }	
		  this.yellowNumber = parseInt(temp / 2);
		  this.grayNumber = 5 - this.yellowNumber;
		}
	}
</script>

<style>
.score-wrap{
	display: flex;
	flex-direction: row;
}
.score-star{
	width: 20upx;
	height: 20upx;
	margin-top: 6upx;
}
.score-value{
	font-size: 12px;
	margin-left: 6upx;
	color: #C0C0C0;
}
</style>
